# Binaries
bin/
bin-int/

!/ThirdParty/premake/premake5.exe

# Third-party dependencies (cloned by GenerateProjects.bat)
Candy/ThirdParty/glm/
Candy/ThirdParty/imgui/
Candy/ThirdParty/GLFW/
Candy/ThirdParty/yaml-cpp/
Candy/ThirdParty/ImGuizmo/
Candy/ThirdParty/box2d/

#CandyEngine log file
**.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# Profiling output
results.json
