[submodule "candy/vendor/spdlog"]
	path = candy/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Candy/vendor/glm"]
	path = Candy/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Candy/vendor/imgui"]
	path = Candy/vendor/imgui
	url = https://github.com/xltangcs/imgui
[submodule "Candy/vendor/GLFW"]
	path = Candy/vendor/GLFW
	url = https://github.com/xltangcs/glfw
[submodule "Candy/vendor/yaml-cpp"]
	path = Candy/vendor/yaml-cpp
	url = https://github.com/xltangcs/yaml-cpp
